<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.mapper.DemoMapper">
	<resultMap id="BaseResultMap" type="com.monitor.entity.Demo">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="state" jdbcType="VARCHAR" property="state" />
	</resultMap>

	<cache />



	<select id="getByName" resultMap="BaseResultMap">
		select * from demo where
		name=#{name}
	</select>


	<select id="getPage" parameterType="com.monitor.entity.Demo"
		resultMap="BaseResultMap">
		select * from demo
		<where>
			<if test="name!=null">
				name=#{name}
			</if>
		</where>
	</select>




</mapper>